<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1002390977130-vlfnb3qkq632ib4qos8588pcjtqp9qb3</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>1002390977130-vlfnb3qkq632ib4qos8588pcjtqp9qb3.apps.googleusercontent.com</string>
	<key>UIAppFonts</key>
	<array>
		<string>Alokary.ttf</string>
		<string>Mariupol-Regular.ttf</string>
		<string>Mariupol-Medium.ttf</string>
		<string>Mariupol-Bold.ttf</string>
	</array>
</dict>
</plist>
